<!-- <!DOCTYPE html>
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">
  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4"/>

  <!-- Bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="css/tiny-slider.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <title>Furni Free Bootstrap 5 Template for Furniture and Interior Design Websites by Untree.co </title>

  <style>
    body{
      background-color: #efeeee;
    }
    .category-options {
      display: none;
    }
    .search-bar {
      background-color: #3b5d50;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      margin: 0;
      display: flex;
      border: 2px solid #efeeee;
      border-radius: 30px;
      overflow: hidden;
    }

    .search-input {
      border: none;
      padding: 10px;
      background-color: #3b5d50;
      color: white;
    }
	@media (min-width: 1200px) {
  /* Set the width to 110vh for devices with a minimum width of 1200px */
  .search-input {
    width: 110vh;
  }
}

    .search-button {
      background-color: #3d5d50;
      color: white;
      border: none;
      padding: 10px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      cursor: pointer;
    }
   .alert{
    color: rgb(179, 49, 49);
    text-align: center;
    font-size: 44px;
    
   }
  </style>
</head>

<body>

  <!-- Start Header/Navigation -->
  <nav style="background-color: #efeeee;" class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">
    <div class="container">
      <a class="navbar-brand" href="/">Furnify<span>.</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsFurni">
        <div class="search-bar">
          <input type="text" class="search-input" placeholder="Search...">
          <button class="search-button"><img src="images/searcharrow.png"></button>
        </div>

        <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
          <li><a class="nav-link" href="/"><img src="images/homesvg.svg"></a></li>
          <li><a class="nav-link" href="/profile"><img src="images/user.svg"></a></li>
          <li><a class="nav-link" href="/cartpage"><img src="images/cart.svg"></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="select-line" style="background-color:#3b5d50;">
    <ul class="custom-horizontal-list navbar-nav ms-auto mb-2 mb-md-0" style="display: flex; list-style: none; flex-direction: row; justify-content: center; gap: 23px;">
      <% categories.filter(category => category.status !== false).forEach(category => { %>
        <li class="nav-item">
          <a class="nav-link" href="/shop?category=<%= category._id %>" style="color:#F0EAD6; font-size: 150%;">
            <%= category.name %>
          </a>
        </li>
      <% }); %>
    </ul>
  </div>

  <!-- End Header/Navigation -->

  <!-- Start Hero Section -->
  <div style="background-color: #efeeee;margin-bottom: 1px;padding-bottom: 1px;" class="hero">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="intro-excerpt">
            <h1 style="font-size: 100px; color:#3b5d50;">Cart</h1>
            <h4 style="color:#3b5d50;">"Savor the <span style="color:rgb(193, 157, 66);">Cart</span>: Where Choices Meet Checkout."</h4>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- End Hero Section -->

  <div style="padding-top: 2px;" class="untree_co-section before-footer-section">
    <div class="container">
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
			<table class="table">
				<thead>
				  <tr>
					<th class="product-thumbnail">Image</th>
					<th class="product-name">Product</th>
					<th class="product-price">Price</th>
					<th class="product-quantity">Quantity</th>
					<th class="product-total">Total</th>
					<th class="product-remove">Remove</th>
				  </tr>
				</thead>
				<tbody>
          <% if(locals.message){%>
            <div class="alert"><%= message%></div>
        <%}%>
				  <% if (cart && cart.item && cart.item.length > 0) { %>
					<% cart.item.forEach((item, index) => { %>
           
					  <tr>
						<td class="product-thumbnail">
						  <img style="max-height: 12vh;" src="<%= item.productId.images[0] %>" alt="Image" class="img-fluid">
						</td>
						<td class="product-name">
						  <h2 class="h5 text-black"><%= item.productId.name %></h2>
						</td>
						<td><%= item.productId.price %></td>
						<td>
              <div class="product_count">
                  <input type="text" name="qty" id="sst<%= index%>" maxlength="12"
                      value="<%= item.quantity %>" title="Quantity:"
                      class="input-text qty">
                  <button
                      onclick="updateQuantity('<%= cart._id %>','<%= item._id %>','<%= item.price %>','<%= index %>' , 1 )"
                      class="increase items-count" type="button">
                      <span class="lnr lnr-chevron-up" style="font-weight:bold;">+</span></button>
                  <button
                      onclick="updateQuantity('<%= cart._id %>','<%= item._id %>','<%= item.price %>', '<%= index %>', -1 )"
                      class="reduced items-count" type="button"><span
                          class="lnr lnr-chevron-down" style="font-weight:bold;">-</span></button>
              </div>
          </td>

          <td>
            <h5 id="total<%= index%>">
                <%= item.total %>
            </h5>
        </td>
        <td><a href="/deletcart/<%= item._id %>"><span style="color: rgb(206, 2, 2);  font-weight: 900;font-size: 30px; text-decoration: none;">X</span></a></td>

					  </tr>
					<% }); %>
				  <% } else { %>
					<tr>
					  <td colspan="6" class="text-center"><h1>Your cart is empty</h1></td>
					</tr>
				  <% } %>
				</tbody>
			  </table>
          </div>
        </form>
      </div>

    </div>

  </div>

  <div class="col-md-12 mb-5">
    <!-- Cart Totals -->
    <div class="row justify-content-center">
      <div class="col-md-8"> <!-- Adjust the width based on your design -->
        <div class="row">
          <div class="col-md-12 text-center border-bottom mb-3">
            <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
          </div>
        </div>
        <div class="row mb-3 justify-content-center">
          <div class="col-md-12 text-center">
            <span class="text-black">Total</span>
          </div>
          <div class="col-md-12 text-center">
            <strong class="text-black" id="total"><%= cart && cart.total ? cart.total : 0 %></strong>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <form action="/checkoutpage" method="get">
              <input type="hidden" name="cartId" value="<%= cart._id %>">
              <button class="btn btn-dark btn-lg py-3 btn-block">Proceed To Checkout</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End Cart Totals -->
  </div>
  
</div>
</div>
</div>


    </div>
  </div>

  <!-- Start Footer Section -->
  <footer class="footer-section">
    <div class="container relative">
  
      <div class="sofa-img">
        <img src="images/sofa.png" alt="Image" class="img-fluid">
      </div>
  
      <div class="row">
        <div class="col-lg-8">
          <div class="subscription-form">
            <h3 class="d-flex align-items-center"><span class="me-1"><img src="images/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>
  
            <form action="#" class="row g-3">
              <div class="col-auto">
                <input type="text" class="form-control" placeholder="Enter your name">
              </div>
              <div class="col-auto">
                <input type="email" class="form-control" placeholder="Enter your email">
              </div>
              <div class="col-auto">
                <button class="btn btn-primary">
                  <span class="fa fa-paper-plane"></span>
                </button>
              </div>
            </form>
  
          </div>
        </div>
      </div>
  
      <div class="row g-5 mb-5">
        <div class="col-lg-4">
          <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Furni<span>.</span></a></div>
          <p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant</p>
  
          <ul class="list-unstyled custom-social">
            <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
            <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
            <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
            <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
          </ul>
        </div>
  
        <div class="col-lg-8">
          <div class="row links-wrap">
            <div class="col-6 col-sm-6 col-md-3">
              <ul class="list-unstyled">
                <li><a href="#">About us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </div>
  
            <div class="col-6 col-sm-6 col-md-3">
              <ul class="list-unstyled">
                <li><a href="#">Support</a></li>
                <li><a href="#">Knowledge base</a></li>
                <li><a href="#">Live chat</a></li>
              </ul>
            </div>
  
            <div class="col-6 col-sm-6 col-md-3">
              <ul class="list-unstyled">
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Our team</a></li>
                <li><a href="#">Leadership</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
  
            <div class="col-6 col-sm-6 col-md-3">
              <ul class="list-unstyled">
                <li><a href="#">Nordic Chair</a></li>
                <li><a href="#">Kruzo Aero</a></li>
                <li><a href="#">Ergonomic Chair</a></li>
              </ul>
            </div>
          </div>
        </div>
  
      </div>
  
      <div class="border-top copyright">
        <div class="row pt-4">
          <div class="col-lg-6">
            <p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>  <!-- License information: https://untree.co/license/ -->
            </p>
          </div>
  
          <div class="col-lg-6 text-center text-lg-end">
            <ul class="list-unstyled d-inline-flex ms-auto">
              <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
  
        </div>
      </div>
  
    </div>
  </footer>
  <script>
        async function updateQuantity(cartId, productId,price, index, count) {
                    try {
                      
                        let quantityInput = document.getElementById(`sst${index}`);
                        let currentQuantity = parseInt(quantityInput.value);
                        console.log("jjjj",cartId);
                        const response = await fetch(`/update-cart-quantity/${productId}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                cartId:cartId,
                                action: count,
                                newQuantity: count + currentQuantity,
                            })
                        });
                        const data = await response.json();

                        if (data.success) {
                            quantityInput.value = data.newQuantity;
                            document.getElementById(`total${index}`).innerText = `₹ ${price * data.newQuantity}`;


                            document.getElementById('total').innerText = `₹ ${data.total}`;
                            enableButtons();
                        } else {
                            console.error('Failed to update quantity:', data.error);

                        }

                    } catch (error) {
                        console.error('Error parsing cart JSON:', error);

                    }
                }
                // Function to enable the buttons
function enableButtons() {
    // Enable your buttons here
    // Example for the increase button:
    document.querySelector('.increase.items-count').removeAttribute('disabled');
   // Example for the reduce button:
   document.querySelector('.reduced.items-count').removeAttribute('disabled');
}


  
  </script>

  
  
  
  

  
  <!-- End Footer Section -->

  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/tiny-slider.js"></script>
  <script src="js/custom.js"></script>
</body>

</html>
