<!-- <!DOCTYPE html>
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="images/MYLOGO.png">
  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4"/>

  <!-- Bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="css/tiny-slider.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <title> Cart-Furnify</title>

  <style>





    	/* Default style for select-line */
.select-line {
    background-color: #3b5d50;
}

/* Media query for small screens (e.g., mobile devices) */
@media (max-width: 767px) {
    .select-line {
        height: 8vw; /* Set the height for small screens */
		align-items: start;
		margin-top: 0.1px;
    }
}

/* Media query for medium screens (e.g., tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    .select-line {
        height: 6vw; /* Set the height for medium screens */
    }
}

/* Media query for large screens (e.g., desktops) */
@media (min-width: 992px) {
    .select-line {
        height: 4vw; /* Set the height for large screens */
    }
}


    body{
      background-color: #efeeee;
    }
    .category-options {
      display: none;
    }
    .search-bar {
      background-color: #3b5d50;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      margin: 0;
      display: flex;
      border: 2px solid #efeeee;
      border-radius: 30px;
      overflow: hidden;
    }

    .search-input {
      border: none;
      padding: 10px;
      background-color: #3b5d50;
      color: white;
    }
	@media (min-width: 1200px) {
  /* Set the width to 110vh for devices with a minimum width of 1200px */
  .search-input {
    width: 110vh;
  }
}

    .search-button {
      background-color: #3d5d50;
      color: white;
      border: none;
      padding: 10px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      cursor: pointer;
    }
   .alert{
    color: rgb(179, 49, 49);
    text-align: center;
    font-size: 44px;
    
   }
   
  </style>
</head>

<body>

  <!-- Start Header/Navigation -->
  <%-include('userpartials/nav')%>

  <!-- End Header/Navigation -->

  <!-- Start Hero Section -->
  <div style="background-color: #efeeee;margin-bottom: 1px;padding-bottom: 1px;" class="hero">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="intro-excerpt">
            <h1 style="font-size: 7vw; color:#3b5d50;">Cart</h1>
            <h4 style="color:#3b5d50; font-size: 1.5vw;">"Savor the <span style="color:rgb(193, 157, 66);">Cart</span>: Where Choices Meet Checkout."</h4>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- End Hero Section -->

  <div style="padding-top: 2px;" class="untree_co-section before-footer-section">
    <div class="container">
      <div class="row mb-5">
        <form  method="post">
          <div class="site-blocks-table">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="product-thumbnail">Image</th>
                    <th class="product-name">Product</th>
                    <th class="product-price">Price</th>
                    <th class="product-quantity">Quantity</th>
                    <th class="product-total">Total</th>
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(locals.message){%>
                  <tr>
                    <td colspan="6" class="text-center">
                      <div class="alert"><%= message %></div>
                    </td>
                  </tr>
                  <%}%>
                  <% if (cart && cart.item && cart.item.length > 0) { %>
                  <% cart.item.forEach((item, index) => { %>
                  <tr>
                    <td class="product-thumbnail">
                      <img style="max-height: 6vw; width: auto;" src="<%= item.productId.images[0] %>" alt="Image" class="img-fluid">
                    </td>
                    <td class="product-name"><%= item.productId.name %></td>
                    <td><%= item.productId.price %></td>
                    <td>
                      <div class="product_count">
                        <input type="text" name="qty" id="sst<%= index%>" maxlength="12" value="<%= item.quantity %>" title="Quantity:" class="input-text qty">
                        <button onclick="updateQuantity('<%= cart._id %>','<%= item._id %>','<%= item.price %>','<%= index %>' , 1 )" class="increase items-count"
                          type="button">
                          <span class="lnr lnr-chevron-up" style="font-weight:bold;">+</span></button>
                        <button onclick="updateQuantity('<%= cart._id %>','<%= item._id %>','<%= item.price %>', '<%= index %>', -1 )" class="reduced items-count"
                          type="button"><span class="lnr lnr-chevron-down" style="font-weight:bold;">-</span></button>
                      </div>
                    </td>
                    <td>
                      <h5 id="total<%= index%>">
                        <%= item.total %>
                      </h5>
                    </td>
                    <td><a href="/deletcart/<%= item._id %>"><span style="color: rgb(206, 2, 2); font-weight: 900; font-size: 1.5vw; text-decoration: none;">X</span></a></td>
                  </tr>
                  <% }); %>
                  <% } else { %>
                  <tr>
                    <td colspan="6" class="text-center">
                      <h1>Your cart is empty</h1>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
          
        </form>
      </div>

    </div>

  </div>

  <div class="col-md-12 mb-5">
    <!-- Cart Totals -->
    <div class="row justify-content-center">
      <div class="col-md-8"> <!-- Adjust the width based on your design -->
        <div class="row">
          <div class="col-md-12 text-center border-bottom mb-3">
            <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
          </div>
        </div>
        <div class="row mb-3 justify-content-center">
          <div class="col-md-12 text-center">
            <span class="text-black">Total</span>
          </div>
          <div class="col-md-12 text-center">
            <strong class="text-black" id="total"><%= cart && cart.total ? cart.total : 0 %></strong>
          </div>
        </div>
        <% if (cart && cart.item && cart.item.length > 0) { %>
          <div class="row justify-content-center">
            <div class="col-md-12 text-center">
              <form action="/checkoutpage" method="get">
                <input type="hidden" name="cartId" value="<%= cart._id %>">
                <button class="btn btn-dark btn-lg py-3 btn-block">Proceed To Checkout</button>
              </form>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <!-- End Cart Totals -->
  </div>
  
</div>
</div>
</div>


    </div>
  </div>

  <!-- Start Footer Section -->
  <%-include('userpartials/footer')%>

  <script>
        async function updateQuantity(cartId, productId,price, index, count) {
                    try {
                      
                        let quantityInput = document.getElementById(`sst${index}`);
                        let currentQuantity = parseInt(quantityInput.value);
                        console.log("jjjj",cartId);
                        const response = await fetch(`/update-cart-quantity/${productId}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                cartId:cartId,
                                action: count,
                                newQuantity: count + currentQuantity,
                            })
                        });
                        const data = await response.json();

                        if (data.success) {
                            quantityInput.value = data.newQuantity;
                            document.getElementById(`total${index}`).innerText = `₹ ${price * data.newQuantity}`;


                            document.getElementById('total').innerText = `₹ ${data.total}`;
                            enableButtons();
                        } else {
                            console.error('Failed to update quantity:', data.error);

                        }

                    } catch (error) {
                        console.error('Error parsing cart JSON:', error);

                    }
                }
                // Function to enable the buttons
function enableButtons() {
    // Enable your buttons here
    // Example for the increase button:
    document.querySelector('.increase.items-count').removeAttribute('disabled');
   // Example for the reduce button:
   document.querySelector('.reduced.items-count').removeAttribute('disabled');
}


  
  </script>

  
  
  
  

  
  <!-- End Footer Section -->

  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/tiny-slider.js"></script>
  <script src="js/custom.js"></script>
</body>

</html>
