<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">
  <!-- Add this to include Tiny Slider CSS and JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.js"></script>


  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />
  <style>




	/* Default style for select-line */
.select-line {
    background-color: #3b5d50;
}

/* Media query for small screens (e.g., mobile devices) */
@media (max-width: 767px) {
    .select-line {
        height: 8vw; /* Set the height for small screens */
		align-items: start;
		margin-top: 0.1px;
    }
}

/* Media query for medium screens (e.g., tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    .select-line {
        height: 6vw; /* Set the height for medium screens */
    }
}

/* Media query for large screens (e.g., desktops) */
@media (min-width: 992px) {
    .select-line {
        height: 4vw; /* Set the height for large screens */
    }
}




	.sliderimg{
		height: 37vw;
		object-fit: cover;
	}
    .category-options {
      display: none;
    }
    .search-bar {
      background-color: #3b5d50;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      margin: 0;
      display: flex;
      border: 2px solid #efeeee;
      border-radius: 30px;
      overflow: hidden;
    }

    .search-input {
      border: none;
      padding: 10px;
      background-color: #3b5d50;
      color: white;
    }
	@media (min-width: 1200px) {
  /* Set the width to 110vh for devices with a minimum width of 1200px */
  .search-input {
    width: 110vh;
  }
}

    .search-button {
      background-color: #3d5d50;
      color: white;
      border: none;
      padding: 10px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      cursor: pointer;
    }
  </style>

		<!-- Bootstrap CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="css/tiny-slider.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<title>FURNiFY</title>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<%-include('userpartials/nav')%>
		
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<%-include('userpartials/slider')%>
		<!-- End Hero Section -->

		<!-- Start Product Section -->
		<div class="product-section">
			<div class="container">
			  <div class="category-slider"> <!-- Match the container class here -->
				<% categories.filter(category => category.status !== false).forEach(category => { %>
				  <div class="product-item vertical">
					<a href="/shop?category=<%= category._id %>">
					  <h1 style="font-size: 5.3vw;" class="product-title"><%= category.name %></h1>
					</a>
				  </div>
				<% }); %>
			  </div>
			</div>
		  </div>
		<!-- End Product Section -->

		<!-- Start Why Choose Us Section -->
		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<h2 class="section-title">Why Choose Us</h2>
						<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>

						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="images/truck.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>Fast &amp; Free Shipping</h3>
									<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="images/bag.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>Easy to Shop</h3>
									<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="images/support.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>24/7 Support</h3>
									<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="images/return.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>Hassle Free Returns</h3>
									<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
								</div>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Why Choose Us Section -->

		<!-- Start We Help Section -->
		
		<!-- End We Help Section -->

		<!-- Start Popular Product -->
		
		<!-- End Popular Product -->

		<!-- Start Testimonial Slider -->

		<!-- End Testimonial Slider -->

		<!-- Start Blog Section -->
		
		<!-- End Blog Section -->	

		<!-- Start Footer Section -->
		<%-include('userpartials/footer')%>
		
		<!-- End Footer Section -->	

		<script>
			document.addEventListener('DOMContentLoaded', function () {
			  var slider = tns({
				container: '.category-slider',
				items: 3,
				axis: 'horizontal', // Set the axis to vertical
				slideBy: 'page',
				autoplay: true, // Set to true for automatic sliding
				nav: false,
				controls:false,
				autoplayButtonOutput: false // Hide autoplay start/stop button

			  });
			});
		  </script>
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/tiny-slider.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/togglenav.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-GLhlTQ8iK1u6o9d6swnf7D90qwgwR4O/4XBDlB1Fm/E=" crossorigin="anonymous"></script>

		<script>
			document.addEventListener('DOMContentLoaded', function () {
				setInterval(function() {
					document.querySelector('.carousel-control-next').click();
				}, 10000);
			});
		</script>
		</body>

</html>
