<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Sign Up</div>
                    <div class="card-body">
                        <form action="/signupotp" method="post">
                            <div class="form-group">
                                <label for="username">Name</label>
                                
                                <input type="text" class="form-control" id="username" name="username"required>
                                <% if(locals.nameerror){%>
                                    <div class="alter text-danger text-start"><%= nameerror%></div>
                    
                                <%}%>
                            </div>
                            
                            
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email"required>
                                <% if(locals.emailerror){%>
                                    <div class="alter text-danger text-start"><%= emailerror%></div>
                    
                                <%}%>
                            </div>
                            <div class="form-group">
                                <label for="Phone">Phone</label>
                                <input type="tel" class="form-control" id="phone" name="phone"required>
                                <% if(locals.phoneerror){%>
                                    <div class="alter text-danger text-start"><%= phoneerror%></div>
                    
                                <%}%>
                            </div>
                            <!-- {{!-- <span><p style="margin-left: 5px; color: rgb(227, 11, 11);">{{emexist}}</p></span> --}} -->

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password"required>
                                <% if(locals.passworderror){%>
                                    <div class="alter text-danger text-start"><%= passworderror%></div>
                    
                                <%}%>
                            </div>
                            <div class="form-group">
                                <label for="Confirm-password">Confirm-Password</label>
                                <input type="password" class="form-control" id="password" name="confirm_password"required>
                                <% if(locals.cpassworderror){%>
                                    <div class="alter text-danger text-start"><%= cpassworderror%></div>
                    
                                <%}%>
                            </div>
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </form>
                        <a href="/profile">login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>