<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/MYLOGO.png">

    <title><%= product.name %> - Product Details</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="/css/tiny-slider.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
    <link rel="stylesheet" href="/css/magiczoom.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/js/magiczoom.js"></script>

    <!-- ElevateZoom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-elevatezoom/3.0.8/jquery.elevatezoom.min.css">
    
    <style>


	/* Default style for select-line */
    .select-line {
    background-color: #3b5d50;
}

/* Media query for small screens (e.g., mobile devices) */
@media (max-width: 767px) {
    .select-line {
        height: 8vw; /* Set the height for small screens */
		align-items: start;
		margin-top: 0.1px;
    }
}

/* Media query for medium screens (e.g., tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    .select-line {
        height: 6vw; /* Set the height for medium screens */
    }
}

/* Media query for large screens (e.g., desktops) */
@media (min-width: 992px) {
    .select-line {
        height: 4vw; /* Set the height for large screens */
    }
}




.user-ratings-section {
  max-width: 600px;
  margin: 0 auto;
}

.user-rating {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.user-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.rating {
  color: #ffc107; /* Star color */
  margin-bottom: 10px;
}

.review {
  margin-bottom: 0;
}

hr {
  border: 0.5px solid #ddd;
}


 

  .product-details-section {
            width: calc(55% - 25px); /* Adjusted width with right margin */
            padding: 20px;
            text-align: left;
            background-color: #fff; /* Set the background color you want */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for a card-like appearance */
            margin-right: 25px; /* Right margin */
            z-index: 2; /* Ensure the product details card is above the images */
        }

        /* Tiny Slider Container */
        #product-slider {
            position: relative;
            overflow: hidden;
        }

   






        .product-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: 20px;
        }

        

       
       

        .product-details {
            width: 55%;
            padding: 20px;
            text-align: left;
        }

       

        .product-details-section {
    width: 100%; /* Full width by default */
    padding: 20px;
    text-align: left;
    background-color: #fff; /* Set the background color you want */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for a card-like appearance */
    z-index: 2; /* Ensure the product details card is above the images */
}

/* Media query for larger screens (e.g., desktops) */
@media (min-width: 1200px) {
    .product-details-section {
        width: calc(50% - 25px); /* Adjusted width with right margin */
        margin-right: 25px; /* Right margin */
    }
}


        

        .product-details {
            padding: 20px;
            text-align: left;
        }

        h1 {
            font-size: 2rem;
            margin-bottom: 10px;
            color: #333;
        }

        .category-options {
            display: none;
        }

        .search-bar {
            background-color: #3b5d50;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 35px;
            margin: 0;
            border: 2px solid #efeeee;
            border-radius: 30px;
            overflow: hidden;
        }

        .search-input {
            border: none;
            padding: 10px;
            width: 800px;
            background-color: #3b5d50;
            color: white;
        }

        .search-button {
            background-color: #3d5d50;
            color: white;
            border: none;
            padding: 10px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            cursor: pointer;
        }

        .price {
            font-size: 1.5rem;
            color: #e44d26;
            margin-bottom: 10px;
        }

        p {
            font-size: 1rem;
            color: #555;
            margin-bottom: 15px;
        }

        .description {
            line-height: 1.5;
        }

        .fa-star {
            color: #f39c12;
        }

        nav {
            background-color: #333;
            padding: 10px;
            color: white;
            text-align: center;
        }

        .det {
            padding-top: 2cm;
        }

        footer {
            padding: 10px;
            color: white;
            text-align: center;
            margin-top: auto;
        }

        .fulldiv {
            width: 100vw;
        }

        .product-image {
            width: 75%; /* Ensure images fill their container */
            height: 75vh; /* Set your desired height */
        }

        .similar-products-section {
        padding: 2vw;
}

.product-item {
    text-decoration: none;
    color: #333;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-bottom: 1px solid #ddd;
}

.card-body {
    padding: 1vw;
    text-align: center;
}

.product-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.product-price {
    font-size: 1rem;
    color: #e44d26;
    margin-bottom: 0;
}

.rating-container {
    font-weight:700;
    border: 1px solid #efeeee;
    border-radius: 8px;
  padding-left: 3px;
  padding-right: 3px;
}

    </style>
</head>

<body>

    <%-include('userpartials/nav')%>
 
    <div class="fulldiv my-5 d-flex justify-content-center">
        <div class="row product-container">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div id="product-slider" class="tns-slider">
                    <% product.images.forEach((image, index) => { %>
                        <div>
                            <img src="/<%= image %>" alt="<%= product.name %> Image" class="img-fluid product-image" />
                        </div>
                    <% }); %>
                </div>
            </div>
    
            <!-- Product Details Section -->
<!-- Product Details Section -->
<div class="col-lg-6 col-md-6 col-sm-12">
    <div class="product-details-sectionn">
        <div class="row">
            <h1 class="col-12"><%= product.name %></h1>
            <p class="col-12 d-flex justify-content-end">
               <% if (product.userRatings && product.userRatings.length > 0) { %>
    <span id="ratingContainer" class="rating-container">
        ★&nbsp;<span id="avgrating"><%= averageRating %> </span>&nbsp;<span>(<%= totalRatings %>)</span>
    </span>
<% } else { %>
    <p>No ratings yet</p>
<% } %>

            </p>
        </div>
        <p class="price"><span style="text-decoration: line-through;color: #857b79;">Rs.<%= product.mrp.toFixed(2) %></span>&nbsp;&nbsp;&nbsp;Rs.<%= product.price.toFixed(2) %></p>

        <div class="description col-12">
            <p><strong>Description:</strong></p>
            <p><%= product.description %></p>
        </div>

        <!-- Specifications Section -->
        <div class="specifications col-12">
            <p><strong>Specifications:</strong></p>
            <ul>
                <% if (product.height || product.width || product.sidelength) { %>
                    <li><strong>Dimensions:</strong>
                        <% if (product.height) { %>
                            <%= product.height %> cm (H)
                        <% } %>
                        <% if (product.width) { %>
                            x <%= product.width %> cm (W)
                        <% } %>
                        <% if (product.sidelength) { %>
                            x <%= product.sidelength %> cm (Sidelength)
                        <% } %>
                    </li>
                <% } %>
                <% if (product.weight) { %>
                    <li><strong>Weight:</strong> <%= product.weight %> kg</li>
                <% } %>
                <% if (product.color) { %>
                    <li><strong>Color:</strong> <%= product.color %> </li>
                <% } %>
                <% if (product.madeOf) { %>
                    <li><strong>Materials:</strong> <%= product.madeOf %> </li>
                <% } %>
                <% if (product.manufacturer) { %>
                    <li><strong>Manufacturer:</strong> <%= product.manufacturer %> </li>
                <% } %>
                <!-- Add more specifications as needed -->
            </ul>
        </div>

        <div class="buttons-row col-12">
            <% if (product.stock > 0) { %>
                <a href="/addtocart/<%= product._id %>"><button class="btn btn-primary">
                        <span class="fas fa-shopping-cart"></span> Add to Cart
                    </button></a>
            <% } else { %>
                <button class="btn btn-danger" disabled>
                    Out of Stock
                </button>
            <% } %>
            <a href="/addtofavourites/<%=product._id%>"><button class="btn btn-secondary">
                    <span class="fas fa-heart"></span> Add to Wishlist
                </button></a>
        </div>
    </div>
</div>

        </div>
    </div>
    


   
    <div class="container mt-3">
        <button style="margin-left: 30vw; margin-bottom: 1.5vw;" id="toggleRatingsBtn" class=" ml-5 btn btn-primary"> User Ratings and Reviews</button>

    
        <div class="user-ratings-section" id="ratingsSection" style="display: none;">

            <div class="row">
                <% if (locals.product.userRatings && product.userRatings.length > 0) { %>
                <% product.userRatings.forEach(userRating => { %>
                    <div class=" col-md-4 col-lg-6 " >
                        <div class="user-rating">
                            <p class="user-name"><strong>User:</strong> <%= userRating.userId.firstname %></p>
                            <div class="rating">
                                <p><strong>Rating:</strong> <%= userRating.rating %> <%= '★'.repeat(Math.floor(userRating.rating)) + (userRating.rating % 1 !== 0 ? '½' : '') %></p>
                            </div>
                            <p class="review"><strong>Review:</strong> <%= userRating.review %></p>
                            <hr>
                        </div>
                    </div>
                <% }); %>
                <% } else { %>
                    <p>No ratings yet</p>

                <% } %>

            </div>
        </div>
    </div>
    
      

    <!-- Similar Products Section -->
    <% if (locals.similar && locals.similar.length > 0) { %>
        <div class="similar-products-section ml-3 mt-5">
            <h1 style="text-align: center; margin-bottom: 30px;">Similar Products</h1>
            <div class="row similar-products-container">
                <% locals.similar.forEach(product => { %>
                    <div class="col-12 col-md-4 col-lg-3 mb-4 product-item">
                        <a class="product-item" href="/singleproduct/<%= product._id %>" data-types="<%= product.type %>">
                            <div class="card">
                                <img src="/<%= product.images[0] %>" class="card-img-top img-fluid product-thumbnail" alt="<%= product.name %>" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h3 class="card-title product-title"><%= product.name %></h3>
                                    <p class="card-text product-price">₹<%= product.price.toFixed(2) %></p>
                                </div>
                            </div>
                        </a>
                    </div>
                <% }); %>
            </div>
        </div>
    <% } %>
    
    
    <%-include('userpartials/footer')%>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="https://cdn.rawgit.com/elevateweb/elevatezoom/master/src/jquery.elevatezoom.js"></script>
    
    <script src="/js/custom.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var slider = tns({
                container: '#product-slider',
                items: 1,
                slideBy: 'page',
                autoplay: false,
                controls: true,
                nav: false,
                prevButton: document.querySelector('.custom-prev-control'),
        nextButton: document.querySelector('.custom-next-control'),
  
             
            });
             var prevButton = document.querySelector('.tns-controls button[data-controls="prev"]');
    var nextButton = document.querySelector('.tns-controls button[data-controls="next"]');

    if (prevButton) {
        prevButton.innerHTML = '<'; 
    }

    if (nextButton) {
        nextButton.innerHTML = '>'; 
    }

    if (prevButton && nextButton) {
            prevButton.style.background = "white"; 
            prevButton.style.color = 'black'; 

            nextButton.style.background = 'white';
            nextButton.style.color =  'black';

            
           

            prevButton.style.left = '10px'; 
            nextButton.style.right = '10px'; 
        }
        });


       
    </script>
    <script>
        var ratingsSection = document.getElementById('ratingsSection');
        var toggleRatingsBtn = document.getElementById('toggleRatingsBtn');
    
        toggleRatingsBtn.addEventListener('click', function () {
            if (ratingsSection.style.display === 'none') {
                ratingsSection.style.display = 'block';
            } else {
                ratingsSection.style.display = 'none';
            }
        });
    </script>
    
    <script>
        const aveRating = parseFloat(document.getElementById('avgrating').innerText);

        console.log(aveRating);
      
        const ratingContainer = document.getElementById('ratingContainer');
      
        if (aveRating >= 4) {
          ratingContainer.style.backgroundColor = 'green';
          ratingContainer.style.color = 'white';

        } else if (aveRating >= 3 && aveRating <= 3.9) {
          ratingContainer.style.backgroundColor = "yellow";
        } else if (aveRating >= 2 && aveRating <= 2.9) {
          ratingContainer.style.backgroundColor = 'orange';
        } else if (aveRating >= 0 && aveRating <= 1.9) {
          ratingContainer.style.backgroundColor = 'red';
          ratingContainer.style.color = 'white';

        }
      </script>
    

    
       
</body>

</html>
