<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
      <% banners.forEach(function(banner, index) { %>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" <% if (index === 0) { %>class="active"<% } %> aria-label="Slide <%= index + 1 %>"></button>
      <% }); %>
  </div>
  <div class="carousel-inner">
      <% banners.forEach(function(banner, index) { %>
          <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
              <img src="<%= banner.image.url %>" class="d-block w-100 sliderimg" alt="<%= banner.title %>">
              <div class="carousel-caption d-none d-md-block">
                  <h1><%= banner.title %></h1>
                  <h3><%= banner.subtitle %></h3>
              </div>
          </div>
      <% }); %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>